/* General Styling for Desktop */
.about-us-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.about-us-section, .mission-section, .vision-section {
  width: 100%;
  min-height: 300px; /* Adjust height as needed */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  padding: 20px;
  box-sizing: border-box;
}

.about-us-section {
  background: url('../../../../assets/images/about-us-ev.jpeg') no-repeat center center/cover;
}

.mission-section {
  background: url('../../../../assets/images/mission-ev.jpeg') no-repeat center center/cover;
}

.vision-section {
  background: url('../../../../assets/images/EV.png') no-repeat center center/cover;
}

/* Headings and text styling */
h1, h2 {
  margin: 10px 0;
  font-size: 2rem;
}

p {
  font-size: 1.2rem;
  line-height: 1.6;
}

