<div class="about-us-container">
  <div class="about-us-content">
    <header class="about-us-header">
      <h1>About Us</h1>
      <p>We are making electric mobility accessible</p>
    </header>
  
    <section class="mission-section">
      <h2>Mission</h2>
      <p>
        Our mission is to lead the world toward sustainable energy while meeting 
        our customers' needs and providing them with the best that the EV world 
        has to offer.
      </p>
    </section>
  
    <section class="vision-section">
      <h2>Vision</h2>
      <p>
        Make EV mainstream and eliminate dependence on fossil fuel for a better 
        environment.
      </p>
    </section>
  </div>
</div>
