<div class="header">
   <div class="nav">
      <div class="leftarea">
         <a routerLink="/home">
            <img class="logo" src="assets/images/evlogo.svg" />
         </a>
      </div>
      <div class="rightarea">
         <div class="search-box" >
            <div class="search-text-box">
               <input class="search-txt" type="text" placeholder="Type to search" >
               <button class="search-btn" >
                  <img src="assets/images/search.svg" alt="Search Icon" width="24" height="24">
               </button>
            </div>
            <div class="suggested-search"> 
               <div class="suggested-search-item">item 1</div>
               <div class="suggested-search-item">item 2</div>
               <div class="suggested-search-item">item 3</div>
            </div>
         </div>
         
      </div>

   </div>
</div>



<!-- <li>
               <a class=" " href="index.html">
                  <img src="assets/images/love.svg" />
               </a>
            </li>
            <li>
               <a class=" " href="index.html">
                  <img src="assets/images/profile.svg" />
               </a>
            </li> -->
<!-- <li *ngIf="!isLogin">
               <button class="btorng"  type="button" (click)="onSubmit(isLogin)">LogOut</button>
            </li>
            <li *ngIf="isLogin">
               <button class="btorng"  type="button" (click)="onSubmit(isLogin)">LogIn</button>
            </li> -->