.header .nav {
  margin-left: 16%;
  margin-right: 16%;
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
}

.header .nav .leftarea img {
  width: 150px;
  height: auto;
}

.header .nav .rightarea .search-box {
  position: relative;
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
  border: 1px solid #ccc;
  height: 40px;
  padding: 0 10px;
}

.header .nav .rightarea .search-box input {
  width: 100%; /* Default width for desktop */
  border: none;
}

.header .nav .rightarea .search-box button {
  border: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .nav .rightarea .search-box img {
  height: 20px;
  width: 20px;
}

.header .nav .rightarea .search-box .suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ccc;
  z-index: 10;
  // display: none;
}

.header .nav .rightarea .search-box:focus .suggestions,
.header .nav .rightarea .search-box:active .suggestions {
  display: block;
}

@media (max-width: 768px) {
  .header .nav {
    top: 0;
    margin-left: 20px;
    flex-direction: row;
    gap: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
  }

  .header .nav .leftarea {
    width: 100%;
  }

  .header .nav .leftarea img {
    width: 100px;
    height: auto;
  }

  .header .nav .rightarea {
    width: 100%;
  }

  .header .nav .rightarea .search-box {
    width: 100%;
  }

  .header .nav .rightarea .search-box input {
    width: 100%;
  }
}
