<div class="main-compare-container">
    <div class="selected-options">
        <div class="selected-option">
            <img src="assets/images/2W/Revolt/Images/1.jpeg" alt="">
            <div class="selected-option-title">{{[vehicleData['twId2'].model]}}</div>
            <select class="varient-dropdown" id="">
                <option>Varient 1</option>
            </select>
            <div class="selected-option-price">90000*</div>
        </div>
        <div class="selected-option">
            <img src="assets/images/2W/Revolt/Images/1.jpeg" alt="">
            <div class="selected-option-title">{{[vehicleData['twId1'].model]}}</div>
            <select class="varient-dropdown" id="">
                <option>Varient 1</option>
            </select>
            <div class="selected-option-price">90000*</div>
        </div>
        <div class="selected-option">
            <img src="assets/images/2W/Revolt/Images/1.jpeg" alt="">
            <div class="selected-option-title">Revolt RV400</div>
            <select class="varient-dropdown" id="">
                <option>Varient 1</option>
            </select>
            <div class="selected-option-price">90000*</div>
        </div>
        <div class="selected-option">
            <img src="assets/images/2W/Revolt/Images/1.jpeg" alt="">
            <div class="selected-option-title">Revolt RV400</div>
            <select class="varient-dropdown" id="">
                <option>Varient 1</option>
            </select>
            <div class="selected-option-price">90000*</div>
        </div>
    </div>
</div>