<!-- yhn p compare selection page 
 mtlb ki 2 4 vehicle select kro aur compare button dbao-->
<div class="vehicleCompareContainer">
    <div class="CompareBanner">
        <img src="assets\images\comparebanner.png" alt="">
    </div>
    <div class="compareSection">
        <div class="compare-container">
            <div class="vehicle-card">
                <div class="vehicle-icon">
                    <img src="assets\images\bike1-svgrepo-com.svg" alt="">
                </div>
                <div class="vehicle-select-options">
                    <select class="vehicle-select">
                        <option>Select Make</option>
                    </select>
                    <select class="vehicle-select">
                        <option>Select Model</option>
                    </select>
                    <select class="vehicle-select">
                        <option>Select Variant</option>
                    </select>
                </div>
            </div>
            <div class="vehicle-card">
                <div class="vehicle-icon">
                    <img src="assets\images\bike1-svgrepo-com.svg" alt="">
                </div>
                <div class="vehicle-select-options">
                    <select class="vehicle-select">
                        <option>Select Make</option>
                    </select>
                    <select class="vehicle-select">
                        <option>Select Model</option>
                    </select>
                    <select class="vehicle-select">
                        <option>Select Variant</option>
                    </select>
                </div>
            </div>
            <div class="vehicle-card">
                <div class="vehicle-icon">
                    <img src="assets\images\bike1-svgrepo-com.svg" alt="">
                </div>
                <div class="vehicle-select-options">
                    <select class="vehicle-select">
                        <option>Select Make</option>
                    </select>
                    <select class="vehicle-select">
                        <option>Select Model</option>
                    </select>
                    <select class="vehicle-select">
                        <option>Select Variant</option>
                    </select>
                </div>
            </div>
            <div class="vehicle-card">
                <div class="vehicle-icon">
                    <img src="assets\images\bike1-svgrepo-com.svg" alt="">
                </div>
                <div class="vehicle-select-options">
                    <select class="vehicle-select">
                        <option>Select Make</option>
                    </select>
                    <select class="vehicle-select">
                        <option>Select Model</option>
                    </select>
                    <select class="vehicle-select">
                        <option>Select Variant</option>
                    </select>
                </div>
            </div>
        </div>
        <button class="compare-button">Compare Models</button>
    </div>
    <app-CompareSuggestions></app-CompareSuggestions>
</div>